{% extends "index.html" %}
{% block body %}
{% from "/includes/formhelpers.html" import render_field %}
<h2>Kayıt Olun</h2>
<hr>
<form method = "post">
    {{ render_field(form.name,class = "form-control") }}
    {{ render_field(form.username,class = "form-control") }}
    {{ render_field(form.email,class = "form-control")}}
    {{ render_field(form.password,class = "form-control") }}
    {{ render_field(form.confirm,class = "form-control")}}
    <button class="btn btn-primary" type = "submit">Kayıt ol</button>
</form>

{% endblock body %}